<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <p>Click a user below to view their pets.</p>
  <ul>
    <% users.forEach((user) => { %>
      <li><a href="/user/<%= user.id %>"><%= user.name %></a></li>
    <% }) %>
  </ul>
  <form action="/users" method="post">
    <label for="user[name]">User:
      <input type="text" name="user[name]" placeholder="Username">
    </label>

    <input type="submit" name="submit" value="Create">
  </form>
</body>
</html>
